.section {
    width: 100%;
    height: auto;


    .holidays-container {
        position: relative;

        width: 1180px;
        height: 100%;
        margin: 1rem auto;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 5rem;

        .ant-carousel .slick-slider .slick-list {

            overflow: visible;
        }

        .section-title {
            color: #00C2FF;
            font-weight: 500;
            font-size: 2.5rem;

            display: flex;
        }

        .content-wrapper {
            width: 100%;
            height: auto;


            .additional.top {
                visibility: visible;
            }

            .additional.bottom {
                visibility: hidden;
            }

            .additional {
                display: flex;
                justify-content: flex-end;
                align-items: center;



                .image {
                    border: none;
                    outline: none;
                    padding: .5rem 1.6rem;
                    background-color: #FFD93D;

                    .img {
                        width: 100%;
                        height: auto;
                    }
                }
            }


            .inner-content {


                .carousel-container {

                    border: 2px solid #FFD93D;
                    box-shadow: 0px 4px 20px #FFD93D;
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    min-height: 450px;

                    .left {

                        width: 80%;
                        height: auto;
                        margin: 0 auto;
                        position: relative;

                        .image {

                            position: absolute;
                            bottom: 0px;
                            left: 30px;
                            top: -100px;
                            width: 100%;
                            height: auto;
                            z-index: 500;

                            .img {
                                width: 450px;
                                height: 548px;
                                box-shadow: 20px 20px 0px 5px #FFD93D;
                                object-fit: cover;
                            }

                        }

                    }

                    .right {

                        width: 100%;
                        height: auto;
                        padding: 4rem 2rem 1rem;

                        .text-content {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            .upper {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;


                                .heading {
                                    font-size: 3rem;
                                }

                                .subheading {
                                    font-size: 1.4rem;
                                }

                                .para {
                                    font-size: 1rem;
                                }
                            }

                            .bottom {
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;

                                .package {
                                    font-size: 1.2rem;

                                    .price {
                                        font-size: 2rem;
                                    }
                                }

                                .details {


                                    width: 100%;
                                    height: auto;

                                    display: flex;
                                    gap: 5px;
                                    justify-content: flex-end;
                                    align-items: center;
                                    margin-top: .5rem;

                                    .text {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 5px;
                                        padding: 0.4rem;
                                        border: 2px solid #00C2FF;
                                        font-size: 1.2rem;

                                        a,
                                        Link {
                                            color: #000 !important
                                        }
                                    }

                                }
                            }
                        }
                    }
                }

            }
        }
    }

    // tablet design
    @media (max-width:1024px) {
        .holidays-container {

            width: 768px;
            margin: 1rem auto;
            padding: 1rem;
            gap: 2rem;

            .section-title {

                font-size: 2rem;

            }

            .content-wrapper {


                .inner-content {


                    .carousel-container {

                        border: 2px solid #FFD93D;
                        box-shadow: 0px 4px 20px #FFD93D;
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                        min-height: 450px;

                        .left {
                            width: 100%;


                            .image {

                                position: absolute;
                                bottom: 0px;
                                left: 25px;
                                top: -40px;

                                .img {
                                    width: 320px;
                                    height: 500px;
                                    box-shadow: 20px 20px 0 #FFD93D;
                                    object-fit: cover;

                                }
                            }
                        }

                        .right {

                            padding: 1rem;

                            .text-content {

                                .upper {



                                    .heading {
                                        font-size: 2rem;
                                    }

                                    .subheading {
                                        font-size: 1.4rem;
                                    }

                                    .para {
                                        font-size: 1rem;
                                    }
                                }

                                .bottom {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 1rem;

                                    .package {
                                        font-size: 1.2rem;

                                        .price {
                                            font-size: 1.5rem;
                                        }
                                    }

                                    .details {


                                        .text {
                                            font-size: 1rem;
                                        }

                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    // mobile design
    @media (max-width:767px) {
        .holidays-container {
            position: relative;
            // width: 370px;
            width: 100%;
            max-width: 370px;
            min-width: 300px;
            height: 100%;
            margin: 0 auto;
            padding: .5rem 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .section-title {
                font-size: 1.2rem;

            }

            .content-wrapper {
                .additional.top {
                    // visibility: hidden;
                    visibility: visible;
                }

                .additional.bottom {
                    // visibility: visible;
                    visibility: hidden;
                }

                .additional {



                    .image {
                        padding: .5rem;

                        .img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }


                .inner-content {


                    .carousel-container {
                        border: 2px solid #FFD93D;
                        box-shadow: 0px 4px 20px #FFD93D;
                        display: flex;
                        justify-content: center;
                        gap: 8rem;
                        flex-direction: column;

                        .left {

                            width: 100%;
                            height: auto;
                            margin: 0 auto;
                            position: relative;

                            .image {

                                left: 20px;
                                top: -60px;

                                .img {
                                    width: 180px;
                                    height: 180px;
                                    box-shadow: 10px 10px 0 #FFD93D;
                                    object-fit: cover;

                                }
                            }
                        }

                        .right {

                            width: 100%;
                            height: auto;
                            padding: .5rem 1rem;

                            .text-content {
                                display: flex;
                                flex-direction: column;
                                gap: .4rem;

                                .upper {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;


                                    .heading {
                                        font-size: 1.3rem;
                                        font-weight: 400;
                                    }

                                    .subheading {
                                        font-size: 1.1rem;
                                    }

                                    .para {
                                        font-size: .9rem;
                                    }
                                }

                                .bottom {
                                    display: flex;
                                    flex-direction: column;
                                    gap: .5rem;

                                    .package {
                                        font-size: 1.2rem;

                                        .price {
                                            font-size: 1.8rem;
                                        }
                                    }

                                    .details {


                                        width: 100%;
                                        height: auto;

                                        display: flex;
                                        gap: 5px;
                                        justify-content: flex-end;
                                        align-items: center;
                                        margin-top: .5rem;

                                        .text {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 5px;
                                            padding: 0.2rem;
                                            border: 2px solid #00C2FF;
                                            font-size: .9rem;

                                            .icon {
                                                .img {
                                                    width: 15px;
                                                    height: 15px;
                                                }
                                            }


                                        }

                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }

}